.cndce-template[data-template="commentary"] #extsrc {
	font-size: 10pt;
	padding-left: 5px;
	color: #999999
	}
	

.cndce-open-options {
    color: #777750;
}

.cndce-template[data-template="commentary"] p {
	margin: 3px 3px 5px 10px
}

.cndce-template[data-template="commentary"] h1 {
	color: black;
	font-size: 12pt;
	background: #E4E4E4;
	font-weight: normal;
	padding: 3px 3px 3px 10px;
	margin-bottom: 1px;
	margin-top: 2px
}

/* old
	
h1 {
	color: black;
	font-size: 13pt;
	background: #e4e4e4;
	font-weight: normal;
	padding: 3px;
}
*/

.cndce-template[data-template="commentary"] h1.com0 {
	font-weight: bold;
	background:#E4E4E4
}

.cndce-template[data-template="commentary"] a.com0 {
	cursor: pointer;
	background:#E4E4E4;
	padding-left: 3px;
	padding-right: 3px
}

.cndce-template[data-template="commentary"] h1.com1 {
	background:#DDDDDD;
}

	.cndce-template[data-template="commentary"] a.music {
		cursor: pointer;
		background:#DDDDDD;
		padding-left: 3px;
		padding-right: 3px
	}

.cndce-template[data-template="commentary"] h1.com2 {
	background:#EFEFE0
}

	.cndce-template[data-template="commentary"] a.science {
		cursor: pointer;
		background:#EFEFE0;
		padding-left: 3px;
		padding-right: 3px
	}

.cndce-template[data-template="commentary"] h1.com3 {
	background:#EFEFE0
}

	.cndce-template[data-template="commentary"] a.science-sources {
		cursor: pointer;
		background:#EFEFE0;
		padding-left: 3px;
		padding-right: 3px
	}

.cndce-template[data-template="commentary"] h1.com4 {
	background:#EFEFE0
}

	.cndce-template[data-template="commentary"] a.tech {
		cursor: pointer;
		background:#EFEFE0;
		padding-left: 3px;
		padding-right: 3px
	}

.cndce-template[data-template="commentary"] h1.com5 {
	background:#EFEFE0
}

	.cndce-template[data-template="commentary"] a.scientists {
		cursor: pointer;
		background:#EFEFE0;
		padding-left: 3px;
		padding-right: 3px
	}

.cndce-template[data-template="commentary"] h1.com6 {
	background:#DDDDDD
}

	.cndce-template[data-template="commentary"] a.musiccomp {
		cursor: pointer;
		background:#DDDDDD;
		padding-left: 3px;
		padding-right: 3px
	}

.cndce-template[data-template="commentary"] h1.com7 {
	background:#DDDDDD
}

	.cndce-template[data-template="commentary"] a.musicperf {
		cursor: pointer;
		background:#DDDDDD;
		padding-left: 3px;
		padding-right: 3px
	}

.cndce-template[data-template="commentary"] h1.com8 {
	background:#EFE6E0
}

	.cndce-template[data-template="commentary"] a.perftech {
		cursor: pointer;
		background:#EFE6E0;
		padding-left: 3px;
		padding-right: 3px
	}

.cndce-template[data-template="commentary"] h1.com9 {
	background:#EFE6E0
}

	.cndce-template[data-template="commentary"] a.visuals {
		cursor: pointer;
		background:#EFE6E0;
		padding-left: 3px;
		padding-right: 3px
	}

.cndce-template[data-template="commentary"] h1.com10 {
	background:#DDDEFF;
}

	.cndce-template[data-template="commentary"] a.trivia {
		cursor: pointer;
		background:#DDDEFF;
		padding-left: 3px;
		padding-right: 3px
	}

.cndce-template[data-template="commentary"] h1.com11 {
	background:#E7FFFF
}

	.cndce-template[data-template="commentary"] a.kids {
		cursor: pointer;
		background:#E7FFFF;
		padding-left: 3px;
		padding-right: 3px
	}

.cndce-template[data-template="commentary"] a.extsrc {
	cursor: pointer;
	color: #FF0000
	/* not used */
}

.cndce-template[data-template="commentary"] a.invis:hover {
	color: black;
	cursor: text;
	text-decoration: none
}

.cndce-template[data-template="commentary"] h2 {
	color: black;
	font-size: 12pt;
	font-weight: bold;
	padding: 3px;
	margin-bottom: 2px;
	margin-top: 2px
}

.cndce-template[data-template="commentary"] a:link {
	cursor: pointer;
	color:#777750;
	text-decoration: none
}

.cndce-template[data-template="commentary"] a:hover {
	cursor: pointer;
	color:#777750;
	text-decoration: underline
}

.cndce-template[data-template="commentary"] a:visited {
	cursor: pointer;
	color:#777750;
	text-decoration: none
}

.cndce-template[data-template="commentary"] a[trefimg] {
	width: 14px;
	height: 12px;
	vertical-align: baseline;
}


.cndce-template[data-template="commentary"] a[tref]{
	color: #999999;
	cursor: pointer;
	font-size: 10pt;
	margin-right: 5px;
	text-decoration: none;
}

.cndce-template[data-template="commentary"] a[tref]:hover{
	color: #999999;
	cursor: pointer;
	font-size: 10pt;
	margin-right: 5px;
	text-decoration: underline;
}

