.cndce-template[data-template="commentary"] #extsrc {
	font-size: 10pt;
	padding-left: 5px;
	color: #999999
	}
	
.cndce-template[data-template="commentary"] .cndce-open-options ,
.cndce-template[data-template="commentary"] .cndce-open-home {
    color: #777750;

	}

.cndce-template[data-template="commentary"] .cndce-open-commentaries {
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 3px;

}

.cndce-template[data-template="commentary"] p {
	margin: 3px 3px 5px 0px
}

.cndce-template[data-template="commentary"] commentary {
	color: black;
	font-size: 10pt;
	background: #E4E4E4;
	font-weight: normal;
	padding: 3px 3px 3px 10px;
	margin-bottom: 1px;
	margin-top: 2px
}

.cndce-template[data-template="commentary"] h1 {
	color: black;
	font-size: 12pt;
	font-weight: normal;
	margin: 0;

}

.cndce-template[data-template="commentary"] h1.com0 {
	font-weight: bold;
}

.cndce-template[data-template="commentary"] h2 {
	color: black;
	font-size: 12pt;
	font-weight: bold;
	padding: 3px;
	margin-bottom: 2px;
	margin-top: 2px
}

.cndce-template[data-template="commentary"] a:link {
	cursor: pointer;
	color:#777750;
	text-decoration: none
}

.cndce-template[data-template="commentary"] a:hover {
	cursor: pointer;
	color:#777750;
	text-decoration: underline
}

.cndce-template[data-template="commentary"] a:visited {
	cursor: pointer;
	color:#777750;
	text-decoration: none
}

.cndce-template[data-template="commentary"] a[trefimg] {
	width: 14px;
	height: 12px;
	vertical-align: baseline;
}


.cndce-template[data-template="commentary"] a[tref]{
	color: #999999;
	cursor: pointer;
	font-size: 10pt;
	margin-right: 5px;
	text-decoration: none;
}

.cndce-template[data-template="commentary"] a[tref]:hover{
	color: #999999;
	cursor: pointer;
	font-size: 10pt;
	margin-right: 5px;
	text-decoration: underline;
}

