.cndce-template[data-template="welcome-home"]{
	background: white;
}

.cndce-template[data-template="welcome-home"].refresh{
	position: relative;
}

.cndce-template[data-template="welcome-home"]::before {
    content: '';
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    position: absolute;

}

.cndce-template[data-template="welcome-home"].refresh::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: white;
}

.cndce-template[data-template="welcome-home"] body {
	font-family: 'Lato', sans-serif;
	font-size: 11pt
}

.cndce-template[data-template="welcome-home"] h2 {
	margin-top: 6px;
	margin-bottom: 4px
}

.cndce-template[data-template="welcome-home"] h2.yt-embed {
	margin-bottom: 10px
}

.cndce-template[data-template="welcome-home"] h3 {
	margin-top: 9px;
	margin-bottom: 4px
}

.cndce-template[data-template="welcome-home"] p {
	margin-top: 5px;
	margin-bottom: 5px
}

.cndce-template[data-template="welcome-home"] a:link {
	cursor: pointer;
	color:#777750;
	text-decoration: none
}

.cndce-template[data-template="welcome-home"] a:hover {
	cursor: pointer;
	color:#777750;
	text-decoration: underline
}

.cndce-template[data-template="welcome-home"] a:visited {
	cursor: pointer;
	color:#777750;
	text-decoration: none
}

.cndce-template[data-template="welcome-home"] a.invis:hover {
	color: black;
	cursor: text;
	text-decoration: none
}

.cndce-template[data-template="welcome-home"] table {
	padding: 1px;
	margin: 0px;
	border-spacing: 0;
	border-collapse: collapse
}

.cndce-template[data-template="welcome-home"] table th,
.cndce-template[data-template="welcome-home"] table td{
	padding: 3px 5px;
}


.cndce-template[data-template="welcome-home"] .cndce-options-commentary th{
	text-align: left;
}

.cndce-template[data-template="welcome-home"] td.keywordcelltitle {
	font-family: 'Lato', sans-serif;
	font-size: 11pt;
	text-decoration: underline
}

.cndce-template[data-template="welcome-home"] td.keywordcell {
	font-family: 'Lato', sans-serif;
	font-size: 11pt
}

.cndce-template[data-template="welcome-home"] tr.com0 {
	font-weight: bold;
	background:#E4E4E4
}

.cndce-template[data-template="welcome-home"] tr.com1 {
	background:#DDDDDD;
}

.cndce-template[data-template="welcome-home"] tr.com2 {
	background:#EFEFE0
}

.cndce-template[data-template="welcome-home"] tr.com3 {
	background:#EFEFE0
}

.cndce-template[data-template="welcome-home"] tr.com4 {
	background:#EFEFE0
}

.cndce-template[data-template="welcome-home"] tr.com5 {
	background:#EFEFE0
}

.cndce-template[data-template="welcome-home"] tr.com6 {
	background:#DDDDDD
}

.cndce-template[data-template="welcome-home"] tr.com7 {
	background:#DDDDDD
}

.cndce-template[data-template="welcome-home"] tr.com8 {
	background:#EFE6E0
}

.cndce-template[data-template="welcome-home"] tr.com9 {
	background:#EFE6E0
}

.cndce-template[data-template="welcome-home"] tr.com10 {
	background:#DDDEFF;
}

.cndce-template[data-template="welcome-home"] tr.com11 {
	background:#E7FFFF
}

.cndce-template[data-template="welcome-home"] table.cndce-options-commentaries th .cndce-options-commentary-description{
	display: none;
	padding-left: 25px;
	font-weight: normal;
}

@media only screen and (max-width: 768px){
	.cndce-template[data-template="welcome-home"] .cndce-mobile-hidden{
		display: none;
	}
	.cndce-template[data-template="welcome-home"] table.cndce-options-commentaries{
		width: 100%;
	}

	.cndce-template[data-template="welcome-home"] table.cndce-options-commentaries th .cndce-options-commentary-description{
		display: block;
	}
}
